<%unless current_user.try(:admin?) || Match.count == 0%>
<div class="panel">Your partner for today: <%=@partner%></div>
<%end%>

<h1> Matches:</h1>
<%@matches.each do |match|%>
  <p><%= link_to match.nice_date, match%></p>
  <%match.pairing.each do |key, value|%>
    <p><%= key%> ---- <%=value%></p>
  <%end%>
<%end%>
<% if current_user.try(:admin?)%>
  <div class="panel-body">
  <%= form_tag(url: matches_path, method: :create) do%>
    <div class="form-group" id="form">
      <label>Select date</label>
      <%= date_select(:match, :pairing_date)%>
    </div>
    <div class="actions">
      <%= submit_tag("Create matches", class: "btn btn-primary", id: "create") %>
    </div>
  <%end%>
  </div>
<%end%>
