<h1> Matches:</h1>
<%@matches.each do |match|%>
  <p><%= link_to match.nice_date, match%></p>
  <%match.pairing.each do |key, value|%>
    <p><%= key%> ---- <%=value%>
  <%end%>
<%end%>

<%= link_to "Create match", matches_path, method: :create%>
<div class="panel-body">
<%= form_tag(url: matches_path, method: :create) do%>
  <div class="form-group">
    <label>Select date</label>
    <%= date_select(:match, :pairing_date)%>
  </div>
  <div class="actions">
    <%= submit_tag("Create matches", class: "btn btn-primary") %>
  </div>
<%end%>
</div>
